#main-border {
  border: 1px solid gainsboro;
  width: 340px;
  height: 600px;
  margin: 100px auto;
  
  
  
}

#register-border {
  border: 1px solid gainsboro;
  width: 340px;
  height: 80px;
  margin: -90px auto;
}

i {
  margin: 0px auto;
}